<!DOCTYPE html>
<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form_main">
                    <h4 class="heading"><strong>Add or Update </strong> Metric<span></span></h4>
                    <h5>It will update the metric, only if the metric already exists...</h5>
                    <h6><b>To update you have to insert the correct key and timestamp</b></h6>
                    <h6> The key is <b>not mandatory</b>: you can have metrics without keys </h6>
                    <ul>
                        <li>
                            <h6>Here you can choose your timestamp with the calandar </h6>
                            <div class="form">
                                <form action="/add-metric" method="post">
                                    <input type="number" placeholder="Please input the key" value="" name="key"
                                        class="number">
                                    <input class="form-control" type="datetime-local" value="" name="timestamp">
                                    <input type="number" placeholder="Please input the value" value="" name="value"
                                        class="number">
                                    <input type="submit" value="submit" name="submit" class="submit">
                                </form>
                        </li>
                        <li>
                            <h6> Here you timestamp will be the <b>current date</b> ! </h6>
                            <form action="/add-metric-current" method="post">
                                <input type="number" placeholder="Please input the key" value="" name="key" class="txt">
                                <input type="number" placeholder="Please input the value" value="" name="value"
                                    class="number">
                                <input type="submit" value="submit" name="submit" class="submit">
                            </form>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-info" href="/index" onClick='document.location.href="/index"'>
                    Go back
                </button>
            </div>
        </div>
    </div>
    </div>
</body>

<!--script-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</html>