<!DOCTYPE html>
<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form_main">
                    <h4 class="heading"><strong>Your </strong> Data</h4>
                    <h6><i>Change your password here</i></h6>
                    <div class="form">
                        <form action="/change-password" method="post">
                            <input type="password" id="password" name="password"
                                placeholder="Enter your password here..." class="input-xlarge">
                            <p class="help-block">Please provide your new password</p>
                            <input type="submit" value="submit" name="submit" class="txt2">
                        </form>
                    </div>
                    <h6><i>Change your email here</i></h6>
                    <div class="form">
                        <form action="/change-email" method="post">
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                                placeholder="Enter your email...">
                            <p class="help-block">Please provide your E-mail</p>
                            <input type="submit" value="submit" name="submit" class="txt2">
                        </form>
                    </div>
                    <p></p> <!-- use of >p></p> to have more space-->
                    <button class="btn btn-info" href="/index" onClick='document.location.href="/index"'>
                        Go back
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

<!--script-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</html>