<!DOCTYPE html>
<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form_main">
                    <h4 class="heading"><strong>Delete </strong> Metric<span></span></h4>
                    <h6><i>It will delete all metrics of a particular key</i></h6>
                    <div class="form">
                        <form action="/delete-metric" method="post">
                            <input type="number" placeholder="Please input the key" value="" name="key" class="number">
                            <input type="submit" value="submit" name="submit" class="txt2">
                        </form>
                    </div>
                    <h6><i>It will delete all metrics of a particular timestamp</i></h6>
                    <div class="form">
                        <form action="/delete-metric-time" method="post">
                            <input class="form-control" type="datetime-local" value="" name="timestamp">
                            <input type="submit" value="submit" name="submit" class="txt2">
                        </form>
                    </div>
                    <h6><i>Be careful ! It will delete all metrics your metrics</i></h6>
                    <div class="form">
                        <form action="/delete-metrics" method="post">
                            <input type="submit" value="Delete All metrics" name="submit" class="txt2">
                        </form>
                    </div>
                    <p></p> <!-- use of >p></p> to have more space-->
                    <button class="btn btn-info" href="/index" onClick='document.location.href="/index"'>
                        Go back
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

<!--script-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</html>