<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js">
    </link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/js/jquery-3.4.1.min.js"></script>
    </link>

</head>

<body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Welcome back</h1>
        <h2>To your dashboard options</h2>
        <div class="p-3 mb-2 bg-light text-dark">
            <h4>Here you will have your metrics in 2 formats : </h4>
            <ul>
                <li>The `Graph` will display all your metrics in a chart with an animation</li>
                <li>The `Graph group` will display zll your metrics with multiple chart organized by group</li>
                <li>The `Bring the metrics` button will dispay your metrics in a JSON format</li>
            </ul>
        </div>
        <p>
            <h5> Your metrics : </h5>
            <button id=show-metrics> See your metrics</button>
            <div id="metrics"></div>
        </p>
        <button class="btn btn-danger" href="/signout" onClick='document.location.href="/signout"'>
            Sign out
        </button>
        <button class="btn btn-primary" href="/graph" onClick='document.location.href="/graph"'>
            Graph metrics
        </button>
        <button class="btn btn-primary" href="/graph-group" onClick='document.location.href="/graph-group"'>
            Graph Group
        </button>
        <button class="btn btn-info" href="/index" onClick='document.location.href="/index"'>
            Go back
        </button>
    </div>
    <script>
        $('#show-metrics').click((e) => {
            e.preventDefault()
            $.getJSON('http://localhost:8088/getmetrics', (data) => {
                var content = ""
                for (var i = 0; i < data.length; i++) {
                    temp = "key : " + data[i].key + " timestamp : " + data[i].timestamp + " value : " + data[i].value + " "
                    content = content + temp
                    alert(temp)
                }
                $('#metrics').html(content).text()
            });
        })
    </script>
</body>


</html>