<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <!-- Color Scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</head>

<body>
    <h4 class="heading"><strong>My</strong> Metrics</h4>
    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>

    <button class="btn btn-info" href="/graph-group" onClick='document.location.href="/graph-group"'>
        Go back
    </button>

</body>

<!-- scripts-->

<script>

    // set the dimensions and margins of the graph
    var margin = { top: 30, right: 0, bottom: 30, left: 50 },
        width = 210 - margin.left - margin.right,
        height = 210 - margin.top - margin.bottom;

    //Read the data
    d3.json('http://localhost:8088/getmetrics', function (error, data) {

        data.forEach(function (d) {
            //   console.log(d.timestamp)
            d.timestamp = d3.timeParse("%Y-%m-%d %H:%M")(d.timestamp);
            console.log(d.timestamp)
            d.value = +d.value;
        });


        // group the data: I want to draw one line per group
        var sumstat = d3.nest() // nest function allows to group the calculation per level of a factor
            .key(function (d) { return d.key; })
            .entries(data);

        // What is the list of groups?
        allKeys = sumstat.map(function (d) { return d.key })

        // Add an svg element for each group. The will be one beside each other and will go on the next row when no more room available
        var svg = d3.select("#my_dataviz")
            .selectAll("uniqueChart")
            .data(sumstat)
            .enter()
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // Add X axis --> it is a date format
        var x = d3.scaleTime()
            .domain(d3.extent(data, function (d) { return d.timestamp; }))
            .range([0, width]);
        svg
            .append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x).ticks(2))

        //Add Y axis
        var y = d3.scaleLinear()
            .domain([0, d3.max(data, function (d) { return +d.value; })])
            .range([height, 0]);
        svg.append("g")
            .call(d3.axisLeft(y).ticks(5));

        // color palette
        var color = d3.scaleLinear()
            .domain(allKeys)
            .range(['#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'])

        // Draw the line
        svg
            .append("path")
            .attr("fill", "none")
            .attr("stroke", function (d) { return color(d.key) })
            .attr("stroke-width", 1.9)
            .attr("d", function (d) {
                return d3.line()
                    .x(function (d) { return x(d.timestamp); })
                    .y(function (d) { return y(+d.value); })
                    (d.values)
            })

        // Add titles
        svg
            .append("text")
            .attr("text-anchor", "start")
            .attr("y", -5)
            .attr("x", 0)
            .text(function (d) { return (d.key) })
            .style("fill", function (d) { return color(d.key) })

    })
</script>
</html>