<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>
</head>

<body>
  <h4 class="heading"><strong>My</strong> Metrics</h4>
  <!-- Create a div where the graph will take place -->
  <div id="my_dataviz"></div>
  <button class="btn btn-info" href="/display-metrics" onClick='document.location.href="/display-metrics"'>
    Go back
  </button>

</body>

<!--scripts-->

<script>

  // set the dimensions and margins of the graph
  var margin = { top: 10, right: 30, bottom: 90, left: 40 },
    width = 460 - margin.left - margin.right,
    height = 450 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  var svg = d3.select("#my_dataviz")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

  // Parse the Data
  d3.json('http://localhost:8088/getmetrics', function (error, data) {

    // X axis
    var x = d3.scaleBand()
      .range([0, width])
      .domain(data.map(function (d) { return d.timestamp; }))
      .padding(0.2);
    svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))
      .selectAll("text")
      .attr("transform", "translate(-10,0)rotate(-45)")
      .style("text-anchor", "end");

    // Add Y axis
    var y = d3.scaleLinear()
      .domain([d3.min(data, function (d) { return +d.value; }) - 1, d3.max(data, function (d) { return +d.value; })])
      .range([height, 0]);
    svg.append("g")
      .call(d3.axisLeft(y));

    // Bars
    svg.selectAll("mybar")
      .data(data)
      .enter()
      .append("rect")
      .attr("x", function (d) { return x(d.timestamp); })
      .attr("width", x.bandwidth())
      .attr("fill", "#69b3a2")
      // no bar at the beginning thus:
      .attr("height", function (d) { return height - y(0) + 1; }) // always equal to 0
      .attr("y", function (d) { return y(0); })

    // Animation
    svg.selectAll("rect")
      .transition()
      .duration(800)
      .attr("y", function (d) { return y(d.value); })
      .attr("height", function (d) { return height - y(d.value); })
      .delay(function (d, i) { console.log(i); return (i * 100) })

  })
</script>

</html>