<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js">
  </link>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </link>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>Homepage !</h1>
    <h2>This is your index</h2>
    <div class="p-3 mb-2 bg-light text-dark">
      <h4>Here you can : </h4>
      <ul>
        <li>Show dashboard options (metrics of a key, metrics, graph</li>
        <li>Add/Update a metric - with a form message</li>
        <li>Delete a metric - with a form message</li>
        <li>Change your password and your password </li>
      </ul>
    </div>
    <button class="btn btn-success" href="/display-metrics" onClick='document.location.href="/display-metrics"'>
      Bring the dashboard to show metrics
    </button>
    <div id="metrics">
      <button class="btn btn-info" href="/add-metric" onClick='document.location.href="/add-metric"'>
        Add/Update a metric
      </button>
      <button class="btn btn-info" href="/delete-metric" onClick='document.location.href="/delete-metric"'>
        Delete a metric
      </button>
    </div>
    <button class="btn btn-warning" href="/data-user" onClick='document.location.href="/data-user"'>
      Change your password and your email 
    </button>
    <button class="btn btn-danger" href="/signout" onClick='document.location.href="/signout"'>
      Sign out
    </button>
  </div>
</body>
<!-- scripts -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>