<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js">
  </link>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </link>
</head>

<body>
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div id="form">
        <p class="bg-warning">Please login to your account</p>
        <hr />
        <form action="/login" method="post">
          <div class="form-group">
            <label for="form_username">Username</label>
            <input id="form_username " type="text" placeholder="Enter your username..." name="username" />
          </div>
          <div class="form-group">
            <label for="form_password">Password</label>
            <input id="form_password" type="password" placeholder="Enter your password..." name="password" />
          </div>
          <button class="btn btn-primary" type="submit" value="submit">Connect</button>
        </form>
        <hr />
        <button class="btn btn-success" type="submit" href="/signup" onClick='document.location.href="/signup"'>
          Create an account
        </button>
      </div>
    </div>
  </div>
  </div>
</body>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>