<!DOCTYPE html>
<html>

<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">
    <!-- scripts -->
</head>

<body>
    <form action="/user/signup" method="post">
        <fieldset class=>
            <div id="legend">
                <legend class="">Not in ? It is time to create an account !</legend>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="Enter your username..."
                        class="input-xlarge">
                    <p class="help-block">Username can contain any letters or numbers</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                        placeholder="Enter your email...">
                    <p class="help-block">Please provide your E-mail</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="Enter your password here..."
                        class="input-xlarge">
                    <p class="help-block">Please provide your password</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success" type="submit" value="submit">Register</button>
                </div>
            </div>

        </fieldset>
    </form>
    <div class="control-group">
        <!-- Button -->
        <div class="controls">
            <button class="btn btn-danger" type="submit" value="submit" href="/login"
                onClick='document.location.href="/login"'>Back to
                Login</button>
        </div>
    </div>
</body>

</html>